* {
    margin: 0%;
    padding: 0%;
    background-color: #dfe3ee;

}

.textbox {
    margin-top: 240PX;
    margin-left: 150px;
}

h1 {
    font-size: 40px;
    color: #1877f2;
    font-family: sans-serif;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.container {
    border-radius: 12px;
    background-color: white;
    width: 390px;
    height: 300px;
    margin-top: -194px;
    margin-right: 160px;
    float: right;
    border-radius: 12px;
    text-align: center;
}

.form {
    float: right;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
}

.form input {
    width: 332px;
    padding: 17px;
    margin-top: 10px;
    margin-right: 28px;
    margin-left: -10px;
    border-radius: 8px;
}

button {
    margin-top: 15px;
    background-color: rgb(106, 157, 220);
    padding: 16px;
    width: 100%;
    border-radius: 80x;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}